.menubar {
  background-color: $white;
  &-main {
    position: relative;
    width: 31rem;
    max-width: 100%;
    background-color: $white;
    padding: 1.7rem 3.2rem;
    .imgmenubar {
      width: 100%;
      height: 100%;
      max-width: 13.3rem;
      max-height: 5.8rem;
      object-fit: cover;
      margin-bottom: 6rem;
    }
    &-box {
      display: flex;
      align-items: center;

      padding: 1.5rem 0 1.5rem 2.7rem;
      margin: 0.6rem 0;
      @include title(1.6rem);
      &.active {
        color: $white;
        background-color: $yellow;
        border-radius: 0.8rem;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 2rem;
        max-height: 2rem;
        object-fit: cover;
        margin-right: 2.4rem;
      }
      .title {
        @include title(1.6rem);
      }
    }
    .setting {
      .navigation {
        position: absolute;
        right: -30%;
        bottom: -10%;
        background-color: $white;
        border-bottom-right-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear, visibility 0.2s linear;
        z-index: 2;
        ul {
          li {
            list-style: none;
            &:hover {
              background-color: $bg-orange-light;
            }
            a {
              padding: 1.2rem;
              @include title(1.6rem);
              display: block;
              &.active {
                background-color: $orange;
                color: $white;
              }
            }
          }
        }
      }
    }
    .setting:hover .navigation {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}
