@mixin maxWidth($q) {
  @media screen and (max-width: $q) {
    @content;
  }
}

@mixin minWidth($q) {
  @media screen and (min-width: $q) {
    @content;
  }
}

@mixin minAndmaxWidth($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin text($valText) {
  font-size: $valText;
  color: $text;
  font-weight: 400;
  line-height: 2.2rem;
}

@mixin label($valLabel) {
  font-size: $valLabel;
  color: $text;
  font-weight: 400;
  line-height: 2.7rem;
}

@mixin title($valTitle) {
  font-size: $valTitle;
  color: $gray-300;
  font-weight: 600;
  line-height: 2.4rem;
}

@mixin heading($valheading) {
  font-size: $valheading;
  color: $gray-400;
  font-weight: 700;
}
