$white: #f9f6f4;
$bg: #f7f7f7;
$bg-gray: #e5e5e5;
$br: #eaeaec;
$bg-gray-light: #b1b1b1;
$bg-orange-light: #fff2e7;
$gray-100: #d4d4d7;
$gray-200: #a9a9b0;
$gray-300: #7e7d88;
$gray-400: #535261;
$gray-500: #282739;
$yellow: #ffb800;
$orange: #ff7506;
$orange-50: #fff2e7;
$orange-200: #ffc89b;
$orange-400: #ff9138;
$orange-500: #ff7506;
$red: #e73f3f;
$red-dark: #ec3740;
$blue: #4277ff;
$blue-100: #dcddfd;
$green: #35c75a;
$green-light: #34cd26;
$text: #37474f;
$pink-light: #f178b6;
$gray-dropdown: #535261;
$font-family: "Montserrat", sans-serif;
